@{
    ViewBag.Title = "Home Page";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>闪算训练平台</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, minimum-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="x-rim-auto-match" content="none">
    <meta name="applicable-device" content="mobile">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_925002_nu81idm811f.css" />
    <script src="http://at.alicdn.com/t/font_925002_nu81idm811f.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_1156689_179hlag6nki.css" />
    <style>
        html, body {
            margin: 0;
            padding: 0;
            height: 100%;
            overflow: hidden;
        }

        body {
            background-color: #12285e;
        }

        .icon {
            width: 1em;
            height: 1em;
            vertical-align: -0.15em;
            fill: currentColor;
            overflow: hidden;
        }

        .pagepanel {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-direction: column;
            flex-direction: column;
            background-color: transparent;
        }

        .topbar {
            -webkit-flex: 2;
            flex: 2;
            display: -webkit-flex;
            display: flex;
            background-color: transparent;
        }

        .toptext {
            margin: auto;
            font-size: 3rem;
            font-family: "幼圆";
            color: #fff;
        }

        .sysicon {
            font-size: 2.7rem;
            margin-right: 0.5rem;
            padding: 5px;
            border: 1px solid #fff;
            border-radius: 50px;
            color: #fff;
        }

        .middlecontent {
            -webkit-flex: 7;
            flex: 7;
            display: -webkit-flex;
            display: flex;
            flex-direction: column;
            position: relative;
        }

        .middletop {
            flex: 6;
            display: -webkit-flex;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        .middlebottom {
            flex: 4;
            display: -webkit-flex;
            display: flex;
            flex-direction: column;
        }

        .btitem {
            flex: 1;
            align-items: center;
            display: -webkit-flex;
            display: flex;
        }

        .mybt {
            min-height: 2.6rem;
            text-align: center;
            height: 70%;
            width: 92%;
            margin: auto;
            display: -webkit-flex;
            display: flex;
            border-radius: 5px;
            border: 1px solid #fff;
            box-shadow: #fff 0px 0px 8px inset;
            /*background-color: #f90303;*/
            position: relative;
        }

        .listnum {
            line-height: 30px;
            word-break: break-word;
            font-size: 1.2rem;
            padding: 10px;
        }

        .bttext {
            margin: auto;
            color: #fff;
            font-size: 1.2rem;
            font-weight: 400;
            letter-spacing: 3px
        }

        .showpanel {
            width: 92%;
            margin: auto;
            flex: 1;
            display: -webkit-flex;
            display: flex;
        }

        .showtoppanel {
            text-align: center;
            color: #fff;
            flex: 1;
            font-size: 4.1rem;
        }
        /*参数配置*/
        .configpanel {
            position: absolute;
            top: 0;
            /*left: 3%;*/
            /*width: 94%;*/
            width: 100%;
            height: 100%;
            z-index: 555;
            background-color: #fff;
            display: -webkit-flex;
            display: flex;
            flex-direction: column;
        }

        .configitem_top {
            flex: 1;
            display: -webkit-flex;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #e5e5e5;
        }

        .configitem {
            flex: 1;
            display: -webkit-flex;
            display: flex;
            border-bottom: 1px solid #ccc;
            max-height: 3rem;
        }

        .configitem_sub1 {
            flex: 2.5;
            display: -webkit-flex;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        .configitem_sub2 {
            flex: 6.5;
            display: -webkit-flex;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        .configitem_sub3 {
            flex: 1;
            display: -webkit-flex;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        .cofigitemsubtext1 {
            padding-left: 10px;
        }

        .cofigitemsubtext2 {
            margin: auto;
        }

        .cofigitemsubtext3 {
            padding-right: 10px;
        }

        .configitem_foot {
            flex: 1.5;
            display: -webkit-flex;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .bt_start {
            min-height: 2.5rem;
            margin: auto;
            text-align: center;
            height: 70%;
            width: 92%;
            margin: auto;
            border-radius: 5px;
            display: -webkit-flex;
            display: flex;
            background-color: #12285e;
            min-height: 2.7rem;
            max-height: 3rem;
            margin-top: 15px;
        }

        .bt_starttext {
            margin: auto;
            color: #fff;
            font-size: 1.2rem;
            font-weight: 400;
            letter-spacing: 3px
        }

        .footbar {
            -webkit-flex: 1;
            display: -webkit-flex;
            display: flex;
            background-color: transparent;
        }

        .foottext {
            margin: auto;
            font-size: 0.7rem;
            font-family: "幼圆";
            color: #fff;
            text-align: center;
        }

        .copyright {
            margin-top: 0.2rem;
        }

        .jiantou {
            color: #ccc;
        }

        .configfont {
            color: #b59f9f;
        }

        .btyuyin {
            width: 4rem;
            height: 1.8rem;
            min-height: 1.8rem;
            border-radius: 50px;
            background-color: #e5e5e5;
            position: relative;
            border: 1px solid #ccc;
        }

        .zhezhaopanel {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 556;
            background-color: #272424;
            opacity: 0.2;
            display: none;
        }

        .zhezhaopanelsub {
            position: absolute;
            bottom: -500px;
            left: 0;
            z-index: 557;
            background-color: #fff;
            width: 100%;
            height: 48%;
            /*display: -webkit-flex;
            display: flex;*/
            flex-direction: column;
            display: none;
            border-radius: 10px 10px 0 0;
        }

        .zhezhaopanelsubtitle {
            flex: 1.2;
            background-color: #e5e5e5;
            display: -webkit-flex;
            display: flex;
            align-items: center;
            border-radius: 10px 10px 0 0;
            background: -webkit-linear-gradient(left top, red, blue);
            background: -o-linear-gradient(bottom right, red, blue);
            background: -moz-linear-gradient(bottom right, red, blue);
            background: linear-gradient(to bottom, #12285e, #192345);
        }

        .zhezhaopanelsubtitle_left {
            flex: 6;
            padding-left: 10px;
            color: #fff;
        }

        .zhezhaopanelsubtitle_right {
            flex: 1;
            text-align: center;
            color: #fff;
        }

        .zhezhaopanelsubbody {
            flex: 6;
            overflow-y: auto;
        }

        .configitemcontent {
            width: 100%;
            height: 3rem;
            line-height: 3rem;
            text-align: left;
            border-bottom: 1px solid #ccc;
            display: -webkit-flex;
            display: flex;
            align-items: center;
        }

        .configitemcontentleft {
            flex: 9;
            text-align: left;
            padding-left: 10px;
        }

        .configitemcontentright {
            flex: 1;
            text-align: right;
            padding-right: 10px;
        }

        .duihao {
            color: #3ec400;
            font-size: 2rem;
        }

        .mytitletext {
            letter-spacing: 5px;
        }
    </style>
    <script>
        // 初始化变量
        var audio = null;
        var playBtn = null;
        $(document).ready(function () {
            _global_pagefenchengobj.init();
            $(".mytitletext").click(function () {
                try {
                    var tx1 = "http://tsn.baidu.com/text2audio?tex=%e7%99%be%e5%ba%a6%e4%bd%a0%e5%a5%bd&lan=zh&cuid=08-62-66-B7-87-94&ctp=1&tok=24.95d1247f1165fb0b5eed036aaa29fc8f.2592000.1545056456.282335-14848118";
                    tx1 = _global_pagefenchengobj.geturl(encodeURIComponent("好好学习，天天向上！"), 5, 4);
                    $("#audio").prop("src", tx1);
                    var audio = $("#audio")[0];
                    //audio.pause();
                    var sdata = new Date();
                    audio.load();
                    audio.play();

                    $("#audio").unbind("ended");
                    $("#audio").on("ended", function (event) {
                        var event = event || window.event;
                        var target = event.target || event.srcElement;
                        console.log("tx1播放完毕：" + (new Date()).getTime(), 'ended');
                        var edata = new Date();
                        console.log("===tx1播放完毕毫秒数：" + (edata - sdata));
                    });
                    $("#audio").unbind("loadeddata");
                    $("#audio").on("loadeddata", function (event) {
                        var event = event || window.event;
                        var target = event.target || event.srcElement;
                        console.log("tx1播放完毕：" + (new Date()).getTime(), 'ended');
                        var edata = new Date();
                        console.log("===tx1加载完毕毫秒数：" + (edata - sdata));
                    });
                }
                catch (e) {
                    alert(e.message);
                }
            });
        });
        var _global_pagefenchengobj = {
            _pagewidth: 0,
            _pageheight: 0,
            _globalguizeid: "",
            _globalconfigpara: null,
            _globalflag: false,
            _gimgicon: ["icon_youerstar_full", "icon_youershouji", "icon_youerhongqi-copy", "icon_youerxin1", "icon_youeryuanquan1",
                "icon_youerarrUp-fill", "icon_youericon-up1", "icon_youerpan_icon-copy", "icon_youertaozi", "icon_youerdangao",
                "icon_youerxiangjiao", "icon_youerbiao", "icon_youerxiaolian1", "icon_youerhongqi", "icon_youerdao",
                "icon_youertubiaoku-", "icon_youeryueliang1", "icon_youerkefu", "icon_youerqiqiu", "icon_youericonfontfuzhuangneiyi",
                "icon_youergood", "icon_youericonfontzhaomingdianzi", "icon_youericonfontxiebaopeishi", "icon_youericonfontshipin", "icon_youerwxbbiaowang"],
            gstaticdata: {
                data_guize: [{ "加法": "1" }, { "减法": "2" }],
                data_sahngxian: [
                    { "10以内": 10 },
                    { "9以内": 9 },
                    { "8以内": 8 },
                    { "7以内": 7 },
                    { "6以内": 6 },
                    { "5以内": 5 },
                    { "4以内": 4 },
                    { "3以内": 3 },
                    { "2以内": 2 }
                ],
                data_xiaxian: [
                    { "2以上": 2 },
                    { "3以上": 3 },
                    { "4以上": 4 },
                    { "5以上": 5 },
                    { "6以上": 6 },
                    { "7以上": 7 },
                    { "8以上": 8 },
                    { "9以上": 9 }
                ],
                data_tishu: [
                    { "1道": 1 }
                ]
            },
            getrandomnum: function (min, max) {
                max = max + 1;
                var w = max - min;
                return parseInt(Math.random() * w + min, 10);
            },
            getchufanum: function (shouweishu, moweishu) {
                var _randobj_moweishu = _global_pagefenchengobj.getrandnum(parseInt(moweishu, 10));
                //除数
                var _chushu = _global_pagefenchengobj.getrandomnum(_randobj_moweishu.min, _randobj_moweishu.max);
                //商最大临界值
                var _bcsmax = Math.floor(Math.pow(10, shouweishu) / _chushu);
                //商最小临界值
                var _bcsmin = Math.ceil(Math.pow(10, (shouweishu - 1)) / _chushu);
                //商
                var _shang = _global_pagefenchengobj.getrandomnum(_bcsmin, _bcsmax);
                //被除数
                var _bcs = _shang * _chushu;
                return { "bcs": _bcs, "cs": _chushu, "shang": _shang };
            },
            init: function () {
                this.initdata();
                this.inithtml();
            },
            initdata: function () {
                this._pagewidth = parseInt($(window).outerWidth(true), 10);
                this._pageheight = parseInt($(window).outerHeight(true), 10);
            },
            inithtml: function () {
                //初始化返回按钮事件
                $(".setconfig").on("click", function () {
                    $(".setconfig").hide();
                    $(".numcontentpanel").hide();
                    $(".anwser").hide();
                    _global_pagefenchengobj._globalflag = false;
                });
                $(".anwser").on("click", function () {
                    $(".anwsernum").show()
                });


                var _pagepanelhtm = $("<div class='pagepanel'></div>");
                _pagepanelhtm.css({ "height": this._pageheight + "px" });

                var _topbarhtm = $("<div class='topbar'><div class='toptext'><i class='zxsiconfont zxsicon-education sysicon'></i><span class='mytitletext'>分成题库</span></div></div>");
                _pagepanelhtm.append(_topbarhtm);

                var _middlecontenthtm = $("<div class='middlecontent'></div>");
                var _middletophtm = $("<div class='middletop'></div>");
                var _showpaneltophtm = $("<div class='showpanel'></div>");
                var _showpaneltoptext = $("<div class='showtoppanel'>N/A</div>");
                _showpaneltophtm.append(_showpaneltoptext);

                var _showpanelmiddelhtm = $("<div class='showpanel'></div>");
                var _showpaneltoptext2 = $("<div class='showtoppanel'>N/A</div>");
                _showpanelmiddelhtm.append(_showpaneltoptext2);

                var _showpanelfoothtm = $("<div class='showpanel'></div>");
                var _showpaneltoptext3 = $("<div class='showtoppanel'>N/A</div>");
                _showpanelfoothtm.append(_showpaneltoptext3);

                _middletophtm.append(_showpaneltophtm);
                _middletophtm.append(_showpanelmiddelhtm);
                _middletophtm.append(_showpanelfoothtm);
                _middlecontenthtm.append(_middletophtm);
                var _middlebottomhtm = $("<div class='middlebottom'></div>");
                var _resetconfig = $("<div id='bt_reset' class='btitem'><div class='mybt'><div class='bttext'>重置配置</div></div></div>");
                _middlebottomhtm.append(_resetconfig);

                _middlecontenthtm.append(_middlebottomhtm);
                //设置配置层
                _configpanel = $("<div id='configpanel' class=\"configpanel\"></div>");
                for (var i = 0; i < 4; i++) {
                    var _configitem = $("<div id='configitem" + i + "' class=\"configitem\"></div>");
                    var _itemsub1 = $("<div class=\"configitem_sub1\"><div class='cofigitemsubtext1'></div></div>");
                    var _itemsub2 = $("<div class=\"configitem_sub2\"></div>");
                    var _itemsub3 = $("<div class=\"configitem_sub3\"><div class='cofigitemsubtext3'><i class='zxsiconfont zxsicon-iconfontjiantou jiantou'></i></div></div>");
                    var _mytempcontaner = "";
                    var _gstyle = false;
                    switch (i) {
                        case 0:
                            _itemsub1.find("div").text("数字上限");
                            _mytempcontaner = $("<div id='configszsx' class='configfont' cvalue='5'>5以下</div>");
                            _itemsub2.append(_mytempcontaner);
                            break;
                        case 1:
                            _itemsub1.find("div").text("数字下限");
                            _mytempcontaner = $("<div id='configszxx' class='configfont' cvalue='2'>2以上</div>");
                            _itemsub2.append(_mytempcontaner);
                            break;
                        case 2:
                            _itemsub1.find("div").text("计算类型");
                            _mytempcontaner = $("<div id='configjisuantype' class='configfont' cvalue='1'>加法</div>");
                            _itemsub2.append(_mytempcontaner);
                            break;
                        case 3:
                            _itemsub1.find("div").text("出题数目");
                            //此处计算出来默认情况下（不重复最多能出几道题）
                            var _countnum = 0;
                            for (var m = 2; m <= 5; m++) {
                                for (n = 0; n < m - 1; n++) {
                                    _countnum++;
                                }
                            }
                            _mytempcontaner = $("<div id='configtishu' class='configfont' cvalue='" + _countnum + "'>" + _countnum + "道题</div>");
                            _itemsub2.append(_mytempcontaner);
                            _global_pagefenchengobj.gstaticdata.data_tishu = [];
                            for (var i = 1; i <= _countnum; i++) {
                                var _obj = {};
                                _obj[i + "道"] = i;
                                _global_pagefenchengobj.gstaticdata.data_tishu.push(_obj);
                            }
                            break;
                    }
                    _configitem.append(_itemsub1);
                    _configitem.append(_itemsub2);
                    _configitem.append(_itemsub3);
                    if (_gstyle) {
                        _configitem.css({ "display": "none" });
                    }
                    _configpanel.append(_configitem);
                }
                _configitem_foot = $("<div class=\"configitem_foot\"></div>");
                _btstatrxunlian = $("<div id='bt_start' class=\"bt_start\"><div class='bt_starttext'>生成作业</div></div>");
                _configitem_foot.append(_btstatrxunlian);
                _configpanel.append(_configitem_foot);
                _middlecontenthtm.append(_configpanel);
                _pagepanelhtm.append(_middlecontenthtm);

                var _footbarhtm = $("<div class='footbar'><div class='foottext'>更高 更快  更强<br/><div class='copyright'>copyright (c) 2018-2019</div></div></div>");
                _pagepanelhtm.append(_footbarhtm);

                $("body").append(_pagepanelhtm);
                //遮罩
                var _zhezhaopanel = $("<div class='zhezhaopanel' id='zhezhaopanel'></div>");
                var _zhezhaopanelsub = $("<div class='zhezhaopanelsub' id='zhezhaopanelsub'></div>");
                var _zhezhaopanelsubtitle = $("<div class='zhezhaopanelsubtitle'></div>");
                var _zhezhaopanelsubtitle_left = $("<div class='zhezhaopanelsubtitle_left'>选择部署</div>");
                var _zhezhaopanelsubtitle_right = $("<div class='zhezhaopanelsubtitle_right' id='btclose'>关闭</div>");
                _zhezhaopanelsubtitle.append(_zhezhaopanelsubtitle_left);
                _zhezhaopanelsubtitle.append(_zhezhaopanelsubtitle_right);

                var _zhezhaopanelsubbody = $("<div class='zhezhaopanelsubbody'></div>");
                _zhezhaopanelsub.append(_zhezhaopanelsubtitle);
                _zhezhaopanelsub.append(_zhezhaopanelsubbody);
                $("body").append(_zhezhaopanel);
                $("body").append(_zhezhaopanelsub);
                this.initbtevent();
            },
            initbtevent: function () {
                $("#bt_start").on("click", function () {
                    if (_global_pagefenchengobj._globalflag) {
                        return;
                    }
                    _global_pagefenchengobj._globalflag = true;
                    $(".bttext").css({ "color": "#5d6564" });
                    //$(".showtoppanel").html("");
                    _global_pagefenchengobj.gcountnum = 0;
                    _global_pagefenchengobj.glistnum = [];
                    _global_pagefenchengobj._globalconfigpara = _global_pagefenchengobj.getconfigparameterobj();

                    switch (_global_pagefenchengobj._globalconfigpara.guize) {
                        case "1":
                            _global_pagefenchengobj.jiafa();
                            break;
                        case "2":
                            //_global_pagefenchengobj.jianfa();
                            break;
                    }
                    $(".numcontentpanel").show();
                    $(".setconfig").show();
                    $(".anwser").show();
                    var _w_item = $(".item").width();
                    console.log("_w_item:" + _w_item);
                    var _h_item = $(".item").height() - 2;
                    console.log("_h_item:" + _h_item);
                    console.log("(_w_item / 4):" + (_w_item / 4));
                    var _jd = Math.atan(_h_item / (_w_item / 4)) / (Math.PI / 180);
                    console.log("_jd:" + _jd);
                    var _l = Math.sqrt((_h_item * _h_item) + ((_w_item / 4) * (_w_item / 4)));
                    var _x_py = _l - (_w_item / 4);

                    $(".sub2_1").css({ "width": _l + "px", "transform": "rotateZ(" + _jd + "deg) translateX(" + _x_py + "px)" });
                    console.log("_l:" + _l);
                    $(".sub2_2").css({
                        "width": _l + "px", "transform": "rotateZ(" + -_jd + "deg) translateX(" + -_x_py + "px)"
                    });
                });
                $("#bt_reset").on("click", function () {
                    if (_global_pagefenchengobj._globalflag) {
                        console.log("没有完成！");
                        return;
                    }
                    $("#configpanel").show();
                    _global_pagefenchengobj.gcountnum = 0;
                    _global_pagefenchengobj.glistnum = [];
                });
                $("#zhezhaopanel").on("click", function (ev) {
                    var oEvent = ev || event;
                    //js阻止事件冒泡
                    oEvent.cancelBubble = true;
                    oEvent.stopPropagation();

                    //js阻止链接默认行为，没有停止冒泡
                    //oEvent.preventDefault();
                    //return false;
                    _global_pagefenchengobj.closezhezhao();
                });
                $("#btclose").on("click", function () {
                    _global_pagefenchengobj.closezhezhao();
                });
                //配置项左侧文字标题部分点击事件
                $(".configitem_sub2").on("click", function () {
                    var _this = $(this);
                    var _cvalue = _this.find("div").attr("cvalue");
                    _global_pagefenchengobj.initconfigselect(_this.parent().prop("id"), _cvalue);
                });
                //配置项右侧箭头部分点击事件
                $(".configitem_sub3").on("click", function () {
                    var _this = $(this).prev();
                    var _cvalue = _this.find("div").attr("cvalue");
                    _global_pagefenchengobj.initconfigselect(_this.parent().prop("id"), _cvalue);
                });
            },
            showzhezhao: function () {
                console.log("open");
                $("#zhezhaopanelsub").css({ "display": "-webkit-flex", "display": "flex" });
                $("#zhezhaopanel").show();
                $("#zhezhaopanelsub").show();
                $("#zhezhaopanelsub").animate({ "bottom": "0px" }, 300);
            },
            closezhezhao: function () {
                console.log("close");
                $("#zhezhaopanelsub").animate({ "bottom": "-500px" }, 300);
                setTimeout(function () {
                    $("#zhezhaopanelsub").hide();
                    $("#zhezhaopanel").hide();
                }, 301);
            },
            //初始化单击每个配置项后底部弹出面板内容
            initconfigselect: function (id, cvalue) {
                $(".zhezhaopanelsubbody").html("");
                _global_pagefenchengobj._globalguizeid = id;
                switch (id) {
                    case "configitem0":
                        _global_pagefenchengobj.initconfig("数字上限", cvalue, _global_pagefenchengobj.gstaticdata.data_sahngxian);
                        break;
                    case "configitem1":
                        _global_pagefenchengobj.initconfig("数字下限", cvalue, _global_pagefenchengobj.gstaticdata.data_xiaxian);
                        break;
                    case "configitem2":
                        _global_pagefenchengobj.initconfig("计算类型", cvalue, _global_pagefenchengobj.gstaticdata.data_guize);
                        break;
                    case "configitem3":
                        _global_pagefenchengobj.initconfig("题数", cvalue, _global_pagefenchengobj.gstaticdata.data_tishu);
                        break;
                }
                //点击面板某一项的事件
                $(".configitemcontent").on("click", function () {
                    var myid = $(this).prop("id");
                    $(".configitemcontent").removeAttr("checked");
                    $("#" + myid).attr("checked", true);
                    $(".configitemcontent").find(".configitemcontentright").html("");
                    $("#" + myid).find(".configitemcontentright").eq(0).html("<i class='zxsiconfont zxsicon-duihao7 duihao'></i>");
                    $("#" + id).find(".configfont").html($(this).find(".configitemcontentleft").html());
                    var _value = $(this).find(".configitemcontentleft").attr("vvalue");
                    $("#" + id).find(".configfont").attr("cvalue", _value);
                    var _shangxianmum = 10;
                    var _xiaxiannum = 2;
                    //上限改变后，级联改动下限和题数选项数组
                    if (id == 'configitem0') {
                        _shangxianmum = parseInt(_value, 10);
                        _xiaxiannum = parseInt($("#configszxx").attr("cvalue"), 10);
                        _global_pagefenchengobj.gstaticdata.data_xiaxian = [];
                        for (var i = 2; i < parseInt(_value, 10); i++) {
                            var _key = i + "以上";
                            var _objtemp = {};
                            _objtemp[_key] = i;
                            _global_pagefenchengobj.gstaticdata.data_xiaxian.push(_objtemp);
                        }
                        //此处计算出来默认情况下（不重复最多能出几道题）
                        var _countnum = 0;
                        for (var m = _xiaxiannum; m <= _shangxianmum; m++) {
                            for (n = 0; n < (m - 1); n++) {
                                _countnum++;
                            }
                        }
                        $("#configtishu").html(_countnum + "道题");
                        $("#configtishu").attr("cvalue", "" + _countnum + "");
                        _global_pagefenchengobj.gstaticdata.data_tishu = [];
                        for (var i = 1; i <= _countnum; i++) {
                            var _obj = {};
                            _obj[i + "道"] = i;
                            _global_pagefenchengobj.gstaticdata.data_tishu.push(_obj);
                        }
                    }
                    //下限改变后，级联改动上限和题数选项数组
                    if (id == 'configitem1') {
                        _xiaxiannum = parseInt(_value, 10);
                        _shangxianmum = parseInt($("#configszsx").attr("cvalue"), 10);
                        _global_pagefenchengobj.gstaticdata.data_sahngxian = [];
                        for (var i = (parseInt(_value, 10) + 1); i < 11; i++) {
                            var _key = i + "以内";
                            var _objtemp = {};
                            _objtemp[_key] = i;
                            _global_pagefenchengobj.gstaticdata.data_sahngxian.push(_objtemp);
                        }
                        //此处计算出来默认情况下（不重复最多能出几道题）
                        var _countnum = 0;
                        for (var m = _xiaxiannum; m <= _shangxianmum; m++) {
                            for (n = 0; n < (m - 1); n++) {
                                _countnum++;
                            }
                        }
                        $("#configtishu").html(_countnum + "道题");
                        $("#configtishu").attr("cvalue", "" + _countnum + "");
                        _global_pagefenchengobj.gstaticdata.data_tishu = [];
                        for (var i = 1; i <= _countnum; i++) {
                            var _obj = {};
                            _obj[i + "道"] = i;
                            _global_pagefenchengobj.gstaticdata.data_tishu.push(_obj);
                        }
                    }

                    _global_pagefenchengobj.closezhezhao();
                });
                _global_pagefenchengobj.showzhezhao();
            },
            initconfig: function (title, cvalue, obj) {
                $(".zhezhaopanelsubtitle_left").eq(0).html(title);
                for (var i = 0; i < obj.length; i++) {
                    var _ttobj = obj[i];
                    var _itemtemphtml = $("<div id='' class='configitemcontent'></div>");
                    var _itemtemphtmlsubleft = $("<div class='configitemcontentleft'></div>");
                    var _itemtemphtmlsubright = $("<div class='configitemcontentright'></div>");
                    for (var m in _ttobj) {
                        _itemtemphtmlsubleft.html(m);
                        _itemtemphtml.prop("id", "item_" + _ttobj[m]);
                        _itemtemphtmlsubleft.attr("vvalue", _ttobj[m]);
                        if (cvalue == _ttobj[m]) {
                            _itemtemphtmlsubright.append("<i class='zxsiconfont zxsicon-duihao7 duihao'></i>");
                            _itemtemphtml.attr("checked", true);
                        }
                    }
                    _itemtemphtml.append(_itemtemphtmlsubleft);
                    _itemtemphtml.append(_itemtemphtmlsubright);
                    $(".zhezhaopanelsubbody").append(_itemtemphtml);
                }
            },
            getconfigparameterobj: function () {
                var _obj = {};
                _obj.shangxian = $("#configitem0").find(".configfont").attr("cvalue");
                _obj.xiaxian = $("#configitem1").find(".configfont").attr("cvalue");
                _obj.guize = $("#configitem2").find(".configfont").attr("cvalue");
                _obj.tishu = $("#configitem3").find(".configfont").attr("cvalue");
                return _obj;
            },
            gcountnum: 0,
            glistnum: [],
            jiafa: function () {
                //生成所以组合数组
                var _list_result = [];
                //此处计算出来默认情况下（不重复最多能出几道题）
                var _countnum = parseInt(_global_pagefenchengobj._globalconfigpara.tishu, 10);
                for (var m = parseInt(_global_pagefenchengobj._globalconfigpara.xiaxian, 10); m <= parseInt(_global_pagefenchengobj._globalconfigpara.shangxian, 10); m++) {
                    for (n = 1; n < m; n++) {
                        var _obj = {};
                        _obj["num1"] = n;
                        _obj["num2"] = m - n;
                        _list_result.push(_obj);
                    }
                }
                var _reallist = [];
                for (var i = 0; i < _countnum; i++) {
                    var _randnum = _global_pagefenchengobj.getrandomnum(0, _list_result.length - 1);
                    _reallist.push(_list_result[_randnum]);
                }
                console.log(JSON.stringify(_reallist));
                //初始化图形界面
                $(".numcontentpanel").html("");
                for (var k = 0; k < _reallist.length; k++) {
                    var _outpanel = $("<div class=\"outpanel\"></div>");
                    var _item1 = $("<div class=\"item\"></div>");
                    var _item1_sub1_1 = $("<div class=\"sub1_1\"></div>");
                    //得到随机图形
                    var _imgtx = _global_pagefenchengobj._gimgicon[_global_pagefenchengobj.getrandomnum(0, 24)];
                    //左边初始化几个图形
                    for (h = 0; h < _reallist[k].num1; h++) {
                        var _left = $("<div><i class='iconfont_youer " + _imgtx + " sysicon2'></i></div>");
                        _item1_sub1_1.append(_left);
                    }
                    var _item1_sub1_2 = $("<div class=\"sub1_2\"></div>");
                    //右边初始化几个图形
                    for (h = 0; h < _reallist[k].num2; h++) {
                        var _left = $("<div><i class='iconfont_youer " + _imgtx + " sysicon2'></i></div>");
                        _item1_sub1_2.append(_left);
                    }
                    _item1.append(_item1_sub1_1);
                    _item1.append(_item1_sub1_2);
                    _outpanel.append(_item1);
                    var _item2 = $("<div class=\"item\">" +
                        "<div class= \"sub2\" >" +
                        "<div class=\"sub2_1\"></div>" +
                        "<div class=\"sub2_2\"></div>" +
                        "</div> " +
                        "</div>");
                    var _item3 = $("<div class=\"item\">" +
                        "<div class= \"sub3\" >" +
                        "(&nbsp;&nbsp;<span class='anwsernum'>" + (_reallist[k].num1 + _reallist[k].num2) +"</span>&nbsp;&nbsp;)" +
                        "</div >" +
                        "</div >");
                    var _item4 = $("<div class=\"item\">\
                            <div class= \"sub4\" >\
                            <div class=\"prenum\">(&nbsp;&nbsp;<span class='anwsernum'>" + (_reallist[k].num1) +"</span>&nbsp;&nbsp;)</div>\
                            <div class=\"fuhao\">+</div>\
                            <div class=\"endnum\">(&nbsp;&nbsp;<span class='anwsernum'>" + (_reallist[k].num2) +"</span>&nbsp;&nbsp;)</div>\
                            <div class=\"denghao\">=</div>\
                            <div class=\"jieguo\">(&nbsp;&nbsp;<span class='anwsernum'>" + (_reallist[k].num1 + _reallist[k].num2) +"</span>&nbsp;&nbsp;)</div>\
                            </div >\
                            </div >");
                    var _item5 = $("<div class=\"item\"></div>");
                    _outpanel.append(_item2);
                    _outpanel.append(_item3);
                    _outpanel.append(_item4);
                    _outpanel.append(_item5);
                    $(".numcontentpanel").append(_outpanel);
                }
            },
            jianfa: function () {
                //获得随机数
                var _randobj = _global_pagefenchengobj.getrandnum(parseInt(_global_pagefenchengobj._globalconfigpara.weishu, 10));
                var _num = _global_pagefenchengobj.getrandomnum(_randobj.min, _randobj.max);
                var tv = _global_pagefenchengobj.getrandomnum(0, 9);
                var tflag = "";
                if ((tv == 2) || (tv == 5) || (tv == 7) || (tv == 9)) {
                    tflag = "-";
                }
                _num = parseInt((tflag + _num), 10);
                _global_pagefenchengobj.glistnum.push(parseInt(_num, 10));
                var _shownum = "";
                if (_global_pagefenchengobj.gcountnum % 2 != 0) {
                    _shownum = "<span style='color:yellow;'>" + _num + "</span>";
                } else {
                    _shownum = _num;
                }
                $(".showtoppanel").eq(1).html(_shownum);
            },
            getrandnum: function (type) {
                if (type > 9) {
                    type = 9;
                }
                if (type < 1) {
                    type = 1;
                }
                var min = Math.pow(10, (type - 1));
                var max = Math.pow(10, type);
                return { "min": min, "max": max };
            }
        };
    </script>
    <style>
        body {
            overflow-y: auto;
        }

        .outpanel {
            width: 100%;
            color: #000;
        }

        .item {
            display: flex;
            align-content: center;
            justify-content: center;
            /*margin-bottom: 2px;*/
            border-bottom: 1px solid green;
            height: 35px;
            padding: 3px 0 3px 0;
        }

        .sub1_1, .sub1_2 {
            flex: 1;
            display: flex;
            align-content: center;
            justify-content: center;
        }

            .sub1_1 div {
                /*width: 42px;*/
                height: 42px;
                /*border: 1px solid blue;*/
                display: inline-block;
                display: flex;
                align-content: center;
                justify-content: center;
                margin-right: 2px;
            }

                .sub1_1 div > i {
                    color: red;
                }

            .sub1_2 > div {
                /*width: 42px;*/
                height: 42px;
                /*border: 1px solid blue;*/
                display: inline-block;
                display: flex;
                align-content: center;
                justify-content: center;
                color: yellow;
                margin-right: 2px;
                position: relative;
                /*-webkit-filter: grayscale(100%);*/
            }

            .sub1_2 div > i {
                color: #1600ff;
            }

        .sub3 {
            display: flex;
            align-content: center;
            justify-content: center;
            font-size: 1.5rem;
        }

        .sub2 {
            flex: 1;
            display: flex;
            align-content: center;
            justify-content: center;
            height: 42px;
        }

        .sub2_1 {
            background-color: #000;
            height: 1px;
            display: inline-block;
            transform-origin: top left;
        }

        .sub2_2 {
            background-color: #000;
            height: 1px;
            display: inline-block;
            transform-origin: bottom right;
        }

        .sub4 {
            flex: 1;
            display: flex;
            align-content: center;
            justify-content: center;
            flex-direction: row;
        }

            .sub4 > div {
                display: flex;
                align-content: center;
                justify-content: center;
                font-size: 1.5rem;
            }

        .sysicon2 {
            font-size: 1.3rem;
            color: #000;
            font-weight: bold;
            line-height: 2.2rem;
        }

        .numcontentpanel {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 600;
            overflow-y: auto;
            background-color: #fff;
            display: none;
        }

        .setconfig {
            position: absolute;
            bottom: 10px;
            right: 10px;
            width: 2.5rem;
            height: 2.5rem;
            border: 1px solid #0cd1e0;
            border-radius: 100%;
            text-align: center;
            line-height: 2.5rem;
            z-index: 601;
            display: none;
        }

        .anwser {
            position: absolute;
            bottom: 4rem;
            right: 10px;
            width: 2.5rem;
            height: 2.5rem;
            border: 1px solid #0cd1e0;
            border-radius: 100%;
            text-align: center;
            line-height: 2.5rem;
            z-index: 601;
            display: none;
            font-size:0.9rem;
        }
        .anwsernum{
            display:none;
        }

        .deleflag {
            position: absolute;
            top: 0;
            right: 0;
            height: 1px;
            width: 26px;
            transform-origin: top right;
            transform: rotateZ(-45deg) translateX(-7px) translateY(4px);
            background-color: #ccc;
            -webkit-filter: grayscale(100%);
        }
    </style>
</head>
<body ontouchstart>
    <div class="setconfig"><i class="iconfont_youer icon_youerfanhui sysicon2" style="color:#0cd1e0;font-size:1.2rem;"></i></div>
    <div class="anwser">答案</div>
    <div class="numcontentpanel">
        <div class="outpanel">
            <div class="item">
                <div class="sub1_1">
                    <div><i class='zxsiconfont zxsicon-education sysicon2'></i></div>
                    <div><i class='zxsiconfont zxsicon-education sysicon2'></i></div>
                    <div><i class='zxsiconfont zxsicon-education sysicon2'></i></div>
                    <div><i class='zxsiconfont zxsicon-education sysicon2'></i></div>
                    <div><i class='zxsiconfont zxsicon-education sysicon2'></i></div>
                    <div><i class='zxsiconfont zxsicon-education sysicon2'></i></div>
                    <div><i class='zxsiconfont zxsicon-education sysicon2'></i></div>
                    <div><i class='zxsiconfont zxsicon-education sysicon2'></i></div>
                    <div><i class='zxsiconfont zxsicon-education sysicon2'></i></div>
                </div>
                <div class="sub1_2">
                    <div><i class='zxsiconfont zxsicon-education sysicon2'></i><div class="deleflag"></div></div>
                </div>
            </div>
            <div class="item">
                <div class="sub2">
                    <div class="sub2_1"></div>
                    <div class="sub2_2"></div>
                </div>
            </div>
            <div class="item">
                <div class="sub3">
                    (&nbsp;&nbsp;&nbsp;&nbsp;)
                </div>
            </div>

            <div class="item">
                <div class="sub4">
                    <div class="prenum">(&nbsp;&nbsp;&nbsp;&nbsp;)</div>
                    <div class="fuhao">+</div>
                    <div class="endnum">(&nbsp;&nbsp;&nbsp;&nbsp;)</div>
                    <div class="denghao">=</div>
                    <div class="jieguo">(&nbsp;&nbsp;&nbsp;&nbsp;)</div>
                </div>
            </div>
            <div class="item"></div>
        </div>
        <div class="outpanel">
            <div class="item">
                <div class="sub1_1">
                    <div><i class='zxsiconfont zxsicon-education sysicon2'></i></div>
                    <div><i class='zxsiconfont zxsicon-education sysicon2'></i></div>
                    <div><i class='zxsiconfont zxsicon-education sysicon2'></i></div>
                    <div><i class='zxsiconfont zxsicon-education sysicon2'></i></div>
                </div>
                <div class="sub1_2">
                    <div><i class='zxsiconfont zxsicon-education sysicon2'></i><div class="deleflag"></div></div>
                    <div><i class='zxsiconfont zxsicon-education sysicon2'></i></div>
                </div>
            </div>
            <div class="item">
                <div class="sub2">
                    <div class="sub2_1"></div>
                    <div class="sub2_2"></div>
                </div>
            </div>
            <div class="item">
                <div class="sub3">
                    (&nbsp;&nbsp;&nbsp;&nbsp;)
                </div>
            </div>

            <div class="item">
                <div class="sub4">
                    <div class="prenum">(&nbsp;&nbsp;&nbsp;&nbsp;)</div>
                    <div class="fuhao">+</div>
                    <div class="endnum">(&nbsp;&nbsp;&nbsp;&nbsp;)</div>
                    <div class="denghao">=</div>
                    <div class="jieguo">(&nbsp;&nbsp;&nbsp;&nbsp;)</div>
                </div>
            </div>
            <div class="item"></div>
        </div>
        <div class="outpanel">
            <div class="item">
                <div class="sub1_1">
                    <div><i class='zxsiconfont zxsicon-education sysicon2'></i></div>
                    <div><i class='zxsiconfont zxsicon-education sysicon2'></i></div>
                    <div><i class='zxsiconfont zxsicon-education sysicon2'></i></div>
                    <div><i class='zxsiconfont zxsicon-education sysicon2'></i></div>
                </div>
                <div class="sub1_2">
                    <div><i class="iconfont_youer icon_youerxiaolian1 sysicon2"></i></div>
                    <div><i class='zxsiconfont zxsicon-education sysicon2'></i></div>
                    <div><i class='zxsiconfont zxsicon-education sysicon2'></i></div>
                    <div><i class='zxsiconfont zxsicon-education sysicon2'></i></div>
                </div>
            </div>
            <div class="item">
                <div class="sub2">
                    <div class="sub2_1"></div>
                    <div class="sub2_2"></div>
                </div>
            </div>
            <div class="item">
                <div class="sub3">
                    (&nbsp;&nbsp;&nbsp;&nbsp;)
                </div>
            </div>

            <div class="item">
                <div class="sub4">
                    <div class="prenum">(&nbsp;&nbsp;&nbsp;&nbsp;)</div>
                    <div class="fuhao">+</div>
                    <div class="endnum">(&nbsp;&nbsp;&nbsp;&nbsp;)</div>
                    <div class="denghao">=</div>
                    <div class="jieguo">(&nbsp;&nbsp;&nbsp;&nbsp;)</div>
                </div>
            </div>
            <div class="item"></div>
        </div>
        <div class="outpanel">
            <div class="item">
                <div class="sub1_1">
                    <div><i class='zxsiconfont zxsicon-education sysicon2'></i></div>
                    <div><i class='zxsiconfont zxsicon-education sysicon2'></i></div>
                    <div><i class='zxsiconfont zxsicon-education sysicon2'></i></div>
                    <div><i class='zxsiconfont zxsicon-education sysicon2'></i></div>
                </div>
                <div class="sub1_2">
                    <div><i class='zxsiconfont zxsicon-education sysicon2'></i></div>
                    <div><i class='zxsiconfont zxsicon-education sysicon2'></i></div>
                </div>
            </div>
            <div class="item">
                <div class="sub2">
                    <div class="sub2_1"></div>
                    <div class="sub2_2"></div>
                </div>
            </div>
            <div class="item">
                <div class="sub3">
                    (&nbsp;&nbsp;&nbsp;&nbsp;)
                </div>
            </div>

            <div class="item">
                <div class="sub4">
                    <div class="prenum">(&nbsp;&nbsp;&nbsp;&nbsp;)</div>
                    <div class="fuhao">+</div>
                    <div class="endnum">(&nbsp;&nbsp;&nbsp;&nbsp;)</div>
                    <div class="denghao">=</div>
                    <div class="jieguo">(&nbsp;&nbsp;&nbsp;&nbsp;)</div>
                </div>
            </div>
            <div class="item"></div>
        </div>
        <div class="outpanel">
            <div class="item">
                <div class="sub1_1">
                    <div><i class='zxsiconfont zxsicon-education sysicon2'></i></div>
                    <div><i class='zxsiconfont zxsicon-education sysicon2'></i></div>
                    <div><i class='zxsiconfont zxsicon-education sysicon2'></i></div>
                    <div><i class='zxsiconfont zxsicon-education sysicon2'></i></div>
                </div>
                <div class="sub1_2">
                    <div><i class='zxsiconfont zxsicon-education sysicon2'></i></div>
                    <div><i class='zxsiconfont zxsicon-education sysicon2'></i></div>
                </div>
            </div>
            <div class="item">
                <div class="sub2">
                    <div class="sub2_1"></div>
                    <div class="sub2_2"></div>
                </div>
            </div>
            <div class="item">
                <div class="sub3">
                    (&nbsp;&nbsp;&nbsp;&nbsp;)
                </div>
            </div>

            <div class="item">
                <div class="sub4">
                    <div class="prenum">(&nbsp;&nbsp;&nbsp;&nbsp;)</div>
                    <div class="fuhao">+</div>
                    <div class="endnum">(&nbsp;&nbsp;&nbsp;&nbsp;)</div>
                    <div class="denghao">=</div>
                    <div class="jieguo">(&nbsp;&nbsp;&nbsp;&nbsp;)</div>
                </div>
            </div>
            <div class="item"></div>
        </div>
</body>
</html>
