# Local configuration folder
/.ssh
/.vs
/zhuxinsuan/obj/Debug
/zhuxinsuan/obj/Release
/zhuxinsuan/Properties/PublishProfiles/*.pubxml
/zhuxinsuan/Properties/PublishProfiles/*.user
/zhuxinsuan/bin
/zhuxinsuan/obj
/zhuxinsuan/bin/Antlr3.Runtime.dll
/zhuxinsuan/bin/Antlr3.Runtime.pdb
/zhuxinsuan/bin/ApplicationInsights.config
/zhuxinsuan/bin/Microsoft.AI.Agent.Intercept.dll
/zhuxinsuan/bin/Microsoft.AI.DependencyCollector.dll
/zhuxinsuan/bin/Microsoft.AI.DependencyCollector.xml
/zhuxinsuan/bin/Microsoft.AI.PerfCounterCollector.dll
/zhuxinsuan/bin/Microsoft.AI.ServerTelemetryChannel.dll
/zhuxinsuan/bin/Microsoft.AI.ServerTelemetryChannel.xml
/zhuxinsuan/bin/Microsoft.AI.Web.dll
/zhuxinsuan/bin/Microsoft.AI.Web.xml
/zhuxinsuan/bin/Microsoft.AI.WindowsServer.dll
/zhuxinsuan/bin/Microsoft.AI.WindowsServer.xml
/zhuxinsuan/bin/Microsoft.ApplicationInsights.dll
/zhuxinsuan/bin/Microsoft.ApplicationInsights.xml
/zhuxinsuan/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
/zhuxinsuan/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
/zhuxinsuan/bin/Microsoft.Web.Infrastructure.dll
/zhuxinsuan/bin/Newtonsoft.Json.dll
/zhuxinsuan/bin/Newtonsoft.Json.xml
/zhuxinsuan/bin/System.Web.Helpers.dll
/zhuxinsuan/bin/System.Web.Helpers.xml
/zhuxinsuan/bin/System.Web.Mvc.dll
/zhuxinsuan/bin/System.Web.Mvc.xml
/zhuxinsuan/bin/System.Web.Optimization.dll
/zhuxinsuan/bin/System.Web.Optimization.xml
/zhuxinsuan/bin/System.Web.Razor.dll
/zhuxinsuan/bin/System.Web.Razor.xml
/zhuxinsuan/bin/System.Web.WebPages.Deployment.dll
/zhuxinsuan/bin/System.Web.WebPages.Deployment.xml
/zhuxinsuan/bin/System.Web.WebPages.Razor.dll
/zhuxinsuan/bin/System.Web.WebPages.Razor.xml
/zhuxinsuan/bin/System.Web.WebPages.dll
/zhuxinsuan/bin/System.Web.WebPages.xml
/zhuxinsuan/bin/WebGrease.dll
/zhuxinsuan/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
/zhuxinsuan/bin/roslyn/Microsoft.CSharp.Core.targets
/zhuxinsuan/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
/zhuxinsuan/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
/zhuxinsuan/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
/zhuxinsuan/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
/zhuxinsuan/bin/roslyn/Microsoft.CodeAnalysis.dll
/zhuxinsuan/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
/zhuxinsuan/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
/zhuxinsuan/bin/roslyn/Microsoft.VisualBasic.Core.targets
/zhuxinsuan/bin/roslyn/System.AppContext.dll
/zhuxinsuan/bin/roslyn/System.Collections.Immutable.dll
/zhuxinsuan/bin/roslyn/System.Diagnostics.StackTrace.dll
/zhuxinsuan/bin/roslyn/System.IO.FileSystem.Primitives.dll
/zhuxinsuan/bin/roslyn/System.IO.FileSystem.dll
/zhuxinsuan/bin/roslyn/System.Reflection.Metadata.dll
/zhuxinsuan/bin/roslyn/VBCSCompiler.exe
/zhuxinsuan/bin/roslyn/VBCSCompiler.exe.config
/zhuxinsuan/bin/roslyn/csc.exe
/zhuxinsuan/bin/roslyn/csc.exe.config
/zhuxinsuan/bin/roslyn/csc.rsp
/zhuxinsuan/bin/roslyn/csi.exe
/zhuxinsuan/bin/roslyn/csi.rsp
/zhuxinsuan/bin/roslyn/vbc.exe
/zhuxinsuan/bin/roslyn/vbc.exe.config
/zhuxinsuan/bin/roslyn/vbc.rsp
/zhuxinsuan/bin/zh-Hans/System.Web.Helpers.resources.dll
/zhuxinsuan/bin/zh-Hans/System.Web.Mvc.resources.dll
/zhuxinsuan/bin/zh-Hans/System.Web.Optimization.resources.dll
/zhuxinsuan/bin/zh-Hans/System.Web.Razor.resources.dll
/zhuxinsuan/bin/zh-Hans/System.Web.WebPages.Deployment.resources.dll
/zhuxinsuan/bin/zh-Hans/System.Web.WebPages.Razor.resources.dll
/zhuxinsuan/bin/zh-Hans/System.Web.WebPages.resources.dll
/zhuxinsuan/bin/zhuxinsuan.dll
/zhuxinsuan/bin/zhuxinsuan.dll.config
/zhuxinsuan/bin/zhuxinsuan.pdb
/zhuxinsuan/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/zhuxinsuan/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/zhuxinsuan/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/zhuxinsuan/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/zhuxinsuan/obj/Debug/zhuxinsuan.csproj.CopyComplete
/zhuxinsuan/obj/Debug/zhuxinsuan.csproj.CoreCompileInputs.cache
/zhuxinsuan/obj/Debug/zhuxinsuan.csproj.FileListAbsolute.txt
/zhuxinsuan/obj/Debug/zhuxinsuan.csprojResolveAssemblyReference.cache
/zhuxinsuan/obj/Debug/zhuxinsuan.dll
/zhuxinsuan/obj/Debug/zhuxinsuan.pdb
/zhuxinsuan/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/zhuxinsuan/obj/Release/Package/PackageTmp/ApplicationInsights.config
/zhuxinsuan/obj/Release/Package/PackageTmp/Content/Site.css
/zhuxinsuan/obj/Release/Package/PackageTmp/Content/bootstrap.css
/zhuxinsuan/obj/Release/Package/PackageTmp/Content/bootstrap.min.css
/zhuxinsuan/obj/Release/Package/PackageTmp/Global.asax
/zhuxinsuan/obj/Release/Package/PackageTmp/Scripts/baidu_tts_cors.js
/zhuxinsuan/obj/Release/Package/PackageTmp/Scripts/bootstrap.js
/zhuxinsuan/obj/Release/Package/PackageTmp/Scripts/bootstrap.min.js
/zhuxinsuan/obj/Release/Package/PackageTmp/Scripts/jquery-1.10.2.js
/zhuxinsuan/obj/Release/Package/PackageTmp/Scripts/jquery-1.10.2.min.js
/zhuxinsuan/obj/Release/Package/PackageTmp/Scripts/jquery-1.10.2.min.map
/zhuxinsuan/obj/Release/Package/PackageTmp/Scripts/jquery.validate.js
/zhuxinsuan/obj/Release/Package/PackageTmp/Scripts/jquery.validate.min.js
/zhuxinsuan/obj/Release/Package/PackageTmp/Scripts/jquery.validate.unobtrusive.js
/zhuxinsuan/obj/Release/Package/PackageTmp/Scripts/jquery.validate.unobtrusive.min.js
/zhuxinsuan/obj/Release/Package/PackageTmp/Scripts/modernizr-2.6.2.js
/zhuxinsuan/obj/Release/Package/PackageTmp/Scripts/respond.js
/zhuxinsuan/obj/Release/Package/PackageTmp/Scripts/respond.min.js
/zhuxinsuan/obj/Release/Package/PackageTmp/Views/Home/About.cshtml
/zhuxinsuan/obj/Release/Package/PackageTmp/Views/Home/Contact.cshtml
/zhuxinsuan/obj/Release/Package/PackageTmp/Views/Home/Index.cshtml
/zhuxinsuan/obj/Release/Package/PackageTmp/Views/Shared/Error.cshtml
/zhuxinsuan/obj/Release/Package/PackageTmp/Views/Shared/_Layout.cshtml
/zhuxinsuan/obj/Release/Package/PackageTmp/Views/Web.config
/zhuxinsuan/obj/Release/Package/PackageTmp/Views/_ViewStart.cshtml
/zhuxinsuan/obj/Release/Package/PackageTmp/Web.config
/zhuxinsuan/obj/Release/Package/PackageTmp/bin/Antlr3.Runtime.dll
/zhuxinsuan/obj/Release/Package/PackageTmp/bin/Antlr3.Runtime.pdb
/zhuxinsuan/obj/Release/Package/PackageTmp/bin/ApplicationInsights.config
/zhuxinsuan/obj/Release/Package/PackageTmp/bin/Microsoft.AI.Agent.Intercept.dll
/zhuxinsuan/obj/Release/Package/PackageTmp/bin/Microsoft.AI.DependencyCollector.dll
/zhuxinsuan/obj/Release/Package/PackageTmp/bin/Microsoft.AI.PerfCounterCollector.dll
/zhuxinsuan/obj/Release/Package/PackageTmp/bin/Microsoft.AI.ServerTelemetryChannel.dll
/zhuxinsuan/obj/Release/Package/PackageTmp/bin/Microsoft.AI.Web.dll
/zhuxinsuan/obj/Release/Package/PackageTmp/bin/Microsoft.AI.WindowsServer.dll
/zhuxinsuan/obj/Release/Package/PackageTmp/bin/Microsoft.ApplicationInsights.dll
/zhuxinsuan/obj/Release/Package/PackageTmp/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
/zhuxinsuan/obj/Release/Package/PackageTmp/bin/Microsoft.Web.Infrastructure.dll
/zhuxinsuan/obj/Release/Package/PackageTmp/bin/Newtonsoft.Json.dll
/zhuxinsuan/obj/Release/Package/PackageTmp/bin/System.Web.Helpers.dll
/zhuxinsuan/obj/Release/Package/PackageTmp/bin/System.Web.Mvc.dll
/zhuxinsuan/obj/Release/Package/PackageTmp/bin/System.Web.Optimization.dll
/zhuxinsuan/obj/Release/Package/PackageTmp/bin/System.Web.Razor.dll
/zhuxinsuan/obj/Release/Package/PackageTmp/bin/System.Web.WebPages.Deployment.dll
/zhuxinsuan/obj/Release/Package/PackageTmp/bin/System.Web.WebPages.Razor.dll
/zhuxinsuan/obj/Release/Package/PackageTmp/bin/System.Web.WebPages.dll
/zhuxinsuan/obj/Release/Package/PackageTmp/bin/WebGrease.dll
/zhuxinsuan/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
/zhuxinsuan/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.CSharp.Core.targets
/zhuxinsuan/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
/zhuxinsuan/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
/zhuxinsuan/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
/zhuxinsuan/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
/zhuxinsuan/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.CodeAnalysis.dll
/zhuxinsuan/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
/zhuxinsuan/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
/zhuxinsuan/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.VisualBasic.Core.targets
/zhuxinsuan/obj/Release/Package/PackageTmp/bin/roslyn/System.AppContext.dll
/zhuxinsuan/obj/Release/Package/PackageTmp/bin/roslyn/System.Collections.Immutable.dll
/zhuxinsuan/obj/Release/Package/PackageTmp/bin/roslyn/System.Diagnostics.StackTrace.dll
/zhuxinsuan/obj/Release/Package/PackageTmp/bin/roslyn/System.IO.FileSystem.Primitives.dll
/zhuxinsuan/obj/Release/Package/PackageTmp/bin/roslyn/System.IO.FileSystem.dll
/zhuxinsuan/obj/Release/Package/PackageTmp/bin/roslyn/System.Reflection.Metadata.dll
/zhuxinsuan/obj/Release/Package/PackageTmp/bin/roslyn/VBCSCompiler.exe
/zhuxinsuan/obj/Release/Package/PackageTmp/bin/roslyn/VBCSCompiler.exe.config
/zhuxinsuan/obj/Release/Package/PackageTmp/bin/roslyn/csc.exe
/zhuxinsuan/obj/Release/Package/PackageTmp/bin/roslyn/csc.exe.config
/zhuxinsuan/obj/Release/Package/PackageTmp/bin/roslyn/csc.rsp
/zhuxinsuan/obj/Release/Package/PackageTmp/bin/roslyn/csi.exe
/zhuxinsuan/obj/Release/Package/PackageTmp/bin/roslyn/csi.rsp
/zhuxinsuan/obj/Release/Package/PackageTmp/bin/roslyn/vbc.exe
/zhuxinsuan/obj/Release/Package/PackageTmp/bin/roslyn/vbc.exe.config
/zhuxinsuan/obj/Release/Package/PackageTmp/bin/roslyn/vbc.rsp
/zhuxinsuan/obj/Release/Package/PackageTmp/bin/zh-Hans/System.Web.Helpers.resources.dll
/zhuxinsuan/obj/Release/Package/PackageTmp/bin/zh-Hans/System.Web.Mvc.resources.dll
/zhuxinsuan/obj/Release/Package/PackageTmp/bin/zh-Hans/System.Web.Optimization.resources.dll
/zhuxinsuan/obj/Release/Package/PackageTmp/bin/zh-Hans/System.Web.Razor.resources.dll
/zhuxinsuan/obj/Release/Package/PackageTmp/bin/zh-Hans/System.Web.WebPages.Deployment.resources.dll
/zhuxinsuan/obj/Release/Package/PackageTmp/bin/zh-Hans/System.Web.WebPages.Razor.resources.dll
/zhuxinsuan/obj/Release/Package/PackageTmp/bin/zh-Hans/System.Web.WebPages.resources.dll
/zhuxinsuan/obj/Release/Package/PackageTmp/bin/zhuxinsuan.dll
/zhuxinsuan/obj/Release/Package/PackageTmp/bin/zhuxinsuan.pdb
/zhuxinsuan/obj/Release/Package/PackageTmp/favicon.ico
/zhuxinsuan/obj/Release/Package/PackageTmp/fonts/glyphicons-halflings-regular.eot
/zhuxinsuan/obj/Release/Package/PackageTmp/fonts/glyphicons-halflings-regular.svg
/zhuxinsuan/obj/Release/Package/PackageTmp/fonts/glyphicons-halflings-regular.ttf
/zhuxinsuan/obj/Release/Package/PackageTmp/fonts/glyphicons-halflings-regular.woff
/zhuxinsuan/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/zhuxinsuan/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/zhuxinsuan/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/zhuxinsuan/obj/Release/TransformWebConfig/assist/Web.config
/zhuxinsuan/obj/Release/TransformWebConfig/original/Web.config
/zhuxinsuan/obj/Release/TransformWebConfig/transformed/Web.config
/zhuxinsuan/obj/Release/_WPPLastBuildInfo.txt
/zhuxinsuan/obj/Release/zhuxinsuan.csproj.CopyComplete
/zhuxinsuan/obj/Release/zhuxinsuan.csproj.CoreCompileInputs.cache
/zhuxinsuan/obj/Release/zhuxinsuan.csproj.FileListAbsolute.txt
/zhuxinsuan/obj/Release/zhuxinsuan.csprojResolveAssemblyReference.cache
/zhuxinsuan/obj/Release/zhuxinsuan.dll
/zhuxinsuan/obj/Release/zhuxinsuan.pdb
/zhuxinsuan/*.csproj
/zhuxinsuan/*.user
/zhuxinsuan/zhuxinsuan.csproj.user
/zhuxinsuan/zhuxinsuan.csproj
/zhuxinsuan/Properties/PublishProfiles
