# Local configuration folder
/.ssh
/.vs
/zhuxinsuan/obj/Debug
/zhuxinsuan/obj/Release
/zhuxinsuan/Properties/PublishProfiles/*.pubxml
/zhuxinsuan/Properties/PublishProfiles/*.user
/zhuxinsuan/bin
/zhuxinsuan/obj
