# Local configuration folder
/.ssh
/.vs
/.zhxinsuan/bin
/.zhxinsuan/obj
/zhuxinsuan/obj/Debug
/zhuxinsuan/obj/Release
/zhuxinsuan/Properties/PublishProfiles/*.pubxml
/zhuxinsuan/Properties/PublishProfiles/*.user
